# .gitignore

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.py[cod]
*$py.class
*.log

# Virtual environments
venv/
*.venv
venv.bak/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm and Visual Studio Code
.idea/
.vscode/

# Flask
instance/

# Docker
.DS_Store
docker-compose.override.yml

# Environment variables
.env

# Distribution / packaging
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt